<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MCW_Base::modules" title="Michael Cole Web Base" translate="title">
                    <resource id="MCW_CronSchedule::schedule" title="Cron Schedule" sortOrder="0"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
